# ignore any output files or archives
*.[oa]

# ignore python bytecode, used by YouCompleteMe autocomplete setup script
*.pyc

# ignore the generated output file
hft

# ignore vim's .swp temp files
*.swp

# .txt files aren't essential
*.txt
